button,.button{
  margin:5px;
  padding:8px;
  background:var(--accent);
  color:#fff;
  border: 0px solid transparent;
  border-radius:10px;
  display:flex;
  align-items:center;
  justify-content:center;
}

button.silent,.button.silent{
  color:var(--accent);
  background: transparent;
}

button.outline,.button.outline{
  color:var(--accent);
  background: transparent;
  border:2px solid var(--accent);
}

button.pill,.button.pill{
  border-radius:999px;
}

button.background,.button.background{
  background:var(--background);
}

button:hover,.button:hover{
  box-shadow:0px 0px 4px 4px var(--shadow);
}

button.fab,.button.fab{
  border-radius:100%;
  width:70px;
  height:70px;
  padding:0px;
  
  display:flex;
  align-items:center;
  justify-content:center;
  
  font-weight:bold;
  font-size:1.3rem;
}


/*icons in button*/
button>icon,button>.icon,.button>icon,.button>.icon{
  width:15px;
  height:15px;
  margin:2px;
}

button.fab>icon,.button.fab>icon{
  width:20px;
  height:20px;
}
