text,.text{
  margin:5px
}

text>*,.text>*{
  margin:0px;
}


text[size="micro"],.text[size="micro"]{font-size:0.3rem;}
text[size="tiny"],.text[size="tiny"]{font-size:0.4rem;}
text[size="xxxsmall"],.text[size="xxxsmall"]{font-size:0.5rem;}
text[size="xxsmall"],.text[size="xxsmall"]{font-size:0.6rem;}
text[size="xxsmall"],.text[size="xxsmall"]{font-size:0.7rem;}
text[size="xsmall"],.text[size="xsmall"]{font-size:0.8rem;}
text[size="small"],.text[size="small"]{font-size:0.9rem;}
text[size="normal"],.text[size="normal"]{font-size:1rem;}
text[size="large"],.text[size="large"]{font-size:1.2rem;}
text[size="xlarge"],.text[size="xlarge"]{font-size:1.4rem;}
text[size="xxlarge"],.text[size="xxlarge"]{font-size:1.6rem;}
text[size="xxxlarge"],.text[size="xxxlarge"]{font-size:1.8rem;}
text[size="jumbo"],.text[size="jumbo"]{font-size:2rem;}
text[size="hero"],.text[size="hero"]{font-size:3rem;}


text[type="bold"],text[type="bold"]{font-weight:bold;}
text[type="thin"],text[type="thin"]{font-weight:200;}
text[type="italic"],text[type="italic"]{font-style:italic;}
